#banner {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 4rem;
  font-family: "Shadows Into Light", cursive;
}

#container {
  display: flex;
  padding: 20px;
}

#buttons {
  flex: 1;
}

#set-size {
  padding: 20px;
  margin-left: 100px;
  background-color: chartreuse;
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
}

#sketchpad {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: cadetblue;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
}
