* {
  border: 2px solid red;
}

#banner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#container {
  display: flex;
  padding: 20px;
}

#buttons {
  flex: 1;
  padding: 50px;
}

#sketchpad {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: aqua;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
}
