* {
  border: 1px solid red;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-auto-flow: column;
}

img {
  height: 500px;
  width: 500px;
}

#left {
}

#right {
}
